<!-- music/templates/music/upload_sheet_music.html -->
{% extends 'music/base.html' %}
{% load static %}
{% block title %}Home - Hymnal Library{% endblock %}

{% block content %}
<section id="cta" class="main special">
    <header class="major">
        <h2>Login</h2>
    </header>
    <form method="post" action="{% url 'login' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            <tr>
                <td>{{ form.username.label_tag }}</td>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <td>{{ form.password.label_tag }}</td>
                <td>{{ form.password }}</td>
            </tr>

        </table>
        <button type="submit">Submit</button>
        <input type="hidden" name="next" value="{{ next }}">
    </form>
    <footer class="major">
    </footer>
</section>

{% endblock %}