{% extends 'music/base.html' %}
{% load static %}
{% block title %}Home - Hymnal Library{% endblock %}

{% block content %}


    <section id="cta" class="main special">
        <header class="major">
            <h2>Welcome</h2>
            <p>Let us share the joy of music<br /></p>
        </header>
        <footer class="major">
            <ul class="actions special">
                {% if not user.is_authenticated %}
                <li><a href="{% url 'login' %}" class="button primary">Login</a></li>
                {% endif %}
                <li>   <a href="{% url 'upload_sheet_music' %}" class="button">Upload Sheet Music</a></li>
            </ul>
        </footer>
    </section>

<!--    {% if user.is_authenticated %}-->
<!--    <section id="intro" class="main special">-->
<!--        <div class="spotlight">-->
<!--            <div class="content">-->
<!--                <header class="major">-->
<!--                    <h2>Some samples</h2>-->
<!--                </header>-->
<!--                    {% for item in items %}-->
<!--                        <a href="{% url 'music_page' item.id %}">{{ item.title }}: {{ item.description }} </a> <br />-->
<!--                    {% endfor %}-->
<!--                <ul class="actions special">-->
<!--                    <li><a href="{% url 'upload_sheet_music' %}" class="button">Learn More</a></li>-->
<!--                </ul>-->
<!--            </div>-->
<!--        </div>-->
<!--    </section>-->
<!--    {% endif %}-->

{% endblock %}
