{% extends 'music/base.html' %}
{% load static %}
{% block title %}Home - Hymnal Library{% endblock %}

{% block content %}
<div id="wrapper">

    <!-- Header -->
    <header id="header">
        <h1>{{sheet.title}}</h1>
        <p>{{sheet.lyricsAuthor}} / {{sheet.musicAuthor}}</p>

    </header>

    <!-- Main -->
    <div id="main">

        <!-- Content -->
        <div class="spotlight">
        </div>

        <section id="content" class="main">

            <ul class="features">

                <li>
                    <p>Description: {{sheet.description}}</p>
                    <p>Lyrics: {{sheet.lyrics}}</p>
                </li>
                <li>
                    <p></p>
                </li>
                <li>
                    {% if sheet.pdf %}
                        <a href="{% url 'download_pdf' sheet.id %}" class="btn btn-primary">Download PDF</a>
                    {% endif %}
                </li>

            </ul>
            <div class="features">
                {% if sheet.pdf %}
                    <!-- Display first page of the PDF -->
<!--                    <embed src="{% url 'download_pdf' sheet.id %}" type="application/pdf" width="100%" height="100%px" />-->
                    <embed src="{% url 'display_pdf' sheet.id %}" type="application/pdf" width="800px" height="500px" />
                {% endif %}
            </div>



        </section>


    </div>

    <!-- Footer -->
    <footer id="footer">

    </footer>

</div>
{% endblock %}