{% extends 'music/base.html' %}
{% load static %}
{% block title %}Home - Hymnal Library{% endblock %}

{% block content %}
<div id="wrapper">

    <!-- Header -->
    <header id="header">
        <h1>{{sheet.title}}</h1>
        <p>{{sheet.lyricsAuthor}} / {{sheet.musicAuthor}}</p>

    </header>

    <!-- Main -->
    <div id="main">

        <!-- Content -->
        <div class="spotlight">
        </div>

        <section id="content" class="main">


            <div class="features">

            </div>
            <ul class="features">
                <li>

                    {% if sheet.pdf %}
                        <embed src="127.0.0.1:8000{% url 'download_pdf' sheet.id %}" type="application/pdf" height="700px" width="500">
                    {% endif %}
                </li>
                <li>
                    <p>Description: {{sheet.description}}</p>
                    <p>Lyrics: {{sheet.lyrics}}</p>
                    {% if sheet.pdf %}
                        <a href="{% url 'download_pdf' sheet.id %}" class="btn btn-primary">Download PDF</a>
                    {% endif %}
                </li>

            </ul>

        </section>


    </div>

    <!-- Footer -->
    <footer id="footer">

    </footer>

</div>
{% endblock %}