{% extends 'music/base.html' %}
{% load static %}
{% block title %}Home - Hymnal Library{% endblock %}

{% block content %}


<section id="intro" class="main special">
    <div class="spotlight">
        <div class="content">
            <header class="major">
                <h2>Music List</h2>
            </header>
            <div class="container">

                <div class="row justify-content-center align-items-center">
                    <div class="col-md-6 mb-3">
                        <div class="input-group">
                            <input id="myInput" type="text" class="form-control" placeholder="Search Music...">
                        </div>
                    </div>
                </div>

            </div>
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="table-responsive" style="max-width: 100%; overflow-x: auto;">
                        <table class="table table-striped" style="width: 100%;">
                            <thead>
                            <tr>
                                <th>Title</th>
                                <th>Author</th>
                            </tr>
                            </thead>
                            <tbody id="musicTable">
                            {% for item in items %}
                            <tr>
                                <td ><a href="{% url 'music_page' item.id %}">{{ item.title }}</a></td>
                                <td>{{ item.author }}</td>
                                <td class="text-center">
                                    <a href="{% url 'music_page' item.id %}" style="background-color: transparent;">
                                        <svg  xmlns="http://www.w3.org/2000/svg"
                                             width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle"
                                             viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                  d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"/>
                                        </svg>
                                    </a>

                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="3">No music items available.</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $(document).ready(function(){
        $("#myInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#musicTable tr").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });


</script>

{% endblock %}