{% extends 'music/base.html' %}
{% load static %}
{% block title %}Home - Hymnal Library{% endblock %}

{% block content %}

<section id="intro" class="main special">
    <div class="spotlight">
        <div class="content">
            <header class="major">
                <h2>Music List</h2>
            </header>
                {% for item in items %}

                <a href="{% url 'music_page' item.id %}">{{ item.title }} </a> <br />


            {% endfor %}
        </div>
    </div>
</section>


{% endblock %}