{% extends 'music/base.html' %}
{% load static %}
{% block title %}Home - Hymnal Library{% endblock %}

{% block content %}
<div id="wrapper">

    <!-- Header -->
    <header id="header">
        <h1>{{sheet.title}}</h1>
        <p>{{sheet.lyricsAuthor}}</p>
        <p>{{sheet.musicAuthor}}</p>

    </header>

    <!-- Main -->
    <div id="main">

        <!-- Content -->
        <div class="spotlight">
        </div>

        <section id="content" class="main">


            <div class="features">

            </div>
            <ul class="features">
                <li>
                    <h2>Description</h2>
                    <p>{{sheet.description}}</p>
                    <h2>Lyrics</h2>
                    <p>{{sheet.lyrics}}</p>
                    <a href="{sheet.pdf.url}" class="button" download="">Download</a>
                </li>
                <li>
                    <embed src="{{sheet.pdf.url}}" type="application/pdf" height="700px" width="500">
                </li>
            </ul>

        </section>


    </div>

    <!-- Footer -->
    <footer id="footer">

    </footer>

</div>
{% endblock %}